# Demo: Using Pandas to Work with Time Data

In [1]:
# Initial imports
import pandas as pd
from pathlib import Path

In [2]:
# Read the S&P 500 CSV data into a DataFrame
df_sp500 = pd.read_csv(Path('../Resources/sp500.csv'))

# Display the DataFrame
df_sp500.head()

                        time   close
0  2019-01-02 12:45:00+00:00  246.16
1  2019-01-02 13:00:00+00:00  246.15
2  2019-01-02 13:15:00+00:00  245.50
3  2019-01-02 13:30:00+00:00  245.71
4  2019-01-02 13:45:00+00:00  245.76

In [3]:
# Verify the data types using dtypes
df_sp500.dtypes

time      object
close    float64
dtype: object

In [4]:
# Reviewing the time value from index position 0
df_sp500['time'][0]

'2019-01-02 12:45:00+00:00'

In [5]:
# Getting the current date and time
pd.to_datetime('today')

Timestamp('2023-08-17 19:32:51.936363')

In [6]:
# Transform the time column to a datetime data type
df_sp500['time'] = pd.to_datetime(df_sp500['time'],infer_datetime_format=True,utc=True)

# Verify the data type transformation using the info function
df_sp500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9328 entries, 0 to 9327
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    9328 non-null   datetime64[ns, UTC]
 1   close   9328 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(1)
memory usage: 145.9 KB

In [8]:
# Convert the time column to the US/Eastern timezone
df_sp500['time'] = df_sp500['time'].dt.tz_convert('US/Eastern')

# Verify the data type transformation using the info function
df_sp500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9328 entries, 0 to 9327
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    9328 non-null   datetime64[ns, US/Eastern]
 1   close   9328 non-null   float64
dtypes: datetime64[ns, US/Eastern](1), float64(1)
memory usage: 145.9 KB

In [9]:
# Review the DataFrame with the new timezone information
df_sp500.head()

                       time   close
0 2019-01-02 07:45:00-05:00  246.16
1 2019-01-02 08:00:00-05:00  246.15
2 2019-01-02 08:15:00-05:00  245.50
3 2019-01-02 08:30:00-05:00  245.71
4 2019-01-02 08:45:00-05:00  245.76

In [11]:
import os
os.environ

environ{'TERM_PROGRAM': 'Apple_Terminal',
        'SHELL': '/bin/zsh',
        'TERM': 'xterm-color',
        'TMPDIR': '/var/folders/l_/z3f0tw616952x5ddvbpxjdhr0000gn/T/',
        'TERM_PROGRAM_VERSION': '447',
        'TERM_SESSION_ID': 'F84C6B25-8C8A-43C9-9550-0981C7F93BB3',
        'USER': 'seshouan',
        'SSH_AUTH_SOCK': '/private/tmp/com.apple.launchd.j7j4v6xtHd/Listeners',
        'PATH': '/Users/seshouan/anaconda3/envs/dev/bin:/Users/seshouan/anaconda3/condabin:/usr/local/bin:/usr/local/sbin:/Library/Frameworks/Python.framework/Versions/3.10/bin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin',
        'LaunchInstanceID': 'DC763C14-97D6-4A9F-B884-3987F5189AC0',
        '__CFBundleIdentifier': 'com.apple.Terminal',
        'PWD': '/Users/seshouan/Documents/Learning/FinTech Bootcamp/GitHub',
        'XPC_FLAGS': '0x0',
        'XPC_SERVICE_NAME': '0',
        'SHLVL': '1',
        'HOME': '/Users/seshouan',
        'LOGNAME': 'seshouan',
        'SECURITYSESSIONID': '186a6',
        'OLDPWD': '/Users/seshouan/Documents/Learning/FinTech Bootcamp/GitHub',
        'HOMEBREW_PREFIX': '/usr/local',
        'HOMEBREW_CELLAR': '/usr/local/Cellar',
        'HOMEBREW_REPOSITORY': '/usr/local/Homebrew',
        'MANPATH': '/usr/local/share/man::',
        'INFOPATH': '/usr/local/share/info:',
        'CONDA_EXE': '/Users/seshouan/anaconda3/bin/conda',
        '_CE_M': '',
        '_CE_CONDA': '',
        'CONDA_PYTHON_EXE': '/Users/seshouan/anaconda3/bin/python',
        'CONDA_SHLVL': '2',
        'CONDA_PREFIX': '/Users/seshouan/anaconda3/envs/dev',
        'CONDA_DEFAULT_ENV': 'dev',
        'CONDA_PROMPT_MODIFIER': '(dev) ',
        'CONDA_PREFIX_1': '/Users/seshouan/anaconda3',
        'PROJ_LIB': '/Users/seshouan/anaconda3/envs/dev/share/proj',
        'PROJ_NETWORK': 'ON',
        'LANG': 'en_US.UTF-8',
        '_': '/Users/seshouan/anaconda3/envs/dev/bin/jupyter',
        '__CF_USER_TEXT_ENCODING': '0x1F5:0x0:0x0',
        'PYDEVD_USE_FRAME_EVAL': 'NO',
        'JPY_SESSION_NAME': '/Users/seshouan/Documents/Learning/FinTech Bootcamp/GitHub/Modules/11-Time-Series/1/Activities/01-Ins_Time_in_Finance/Unsolved/importing-sp500-data.ipynb',
        'JPY_PARENT_PID': '1785',
        'CLICOLOR': '1',
        'FORCE_COLOR': '1',
        'CLICOLOR_FORCE': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://matplotlib_inline.backend_inline'}