# Mastering Concatenation!

Two county organizations that you are a part of, Financial Leaders of America and Investors Leadership Council, have recently joined forces. Help the treasurer out by consolidating the dues and member data.

In [2]:
import pandas as pd
from pathlib import Path

### Read in data

In [3]:
fin_leaders_america_path = Path('../Resources/fin_leaders_america.csv')
investors_leadership_path = Path('../Resources/invstrs_leadership.csv')
fin_leaders_mem_path = Path('../Resources/fin_leaders_members.csv')
investors_leadership_mem_path = Path('../Resources/invstrs_leadership_members.csv')

fin_leaders_dues_df = pd.read_csv(fin_leaders_america_path)
investors_dues_df = pd.read_csv(investors_leadership_path)
fin_leaders_members_df = pd.read_csv(fin_leaders_mem_path)
investors_members_df = pd.read_csv(investors_leadership_mem_path)

### Concat dues data using `rows` axis and `inner` join

In [4]:
dues_df = pd.concat([fin_leaders_dues_df,investors_dues_df],axis="rows", join="inner")
dues_df

          MemberName  DuesOwed  DuesPaid
0      Warren Buffet         0      2500
1       Janet Yellen       100      2400
2    Abigail Johnson         0      2500
3         Larry Fink      2500         0
0      Warren Buffet         0      2500
1       Janet Yellen       100      2400
2    Abigail Johnson         0      2500
3         Larry Fink      2500         0
4       Mario Draghi      2500         0
5  Michael Bloomberg      2500         0
6          Ray Dalio         0      2500

### Concat member data using `rows` axis and `inner` join

In [5]:
members_df = pd.concat([fin_leaders_members_df,investors_members_df],axis="rows", join="inner")
members_df

          MemberName MembershipStatus
0      Warren Buffet    Good Standing
1       Janet Yellen    Good Standing
2    Abigail Johnson    Good Standing
3         Larry Fink       Delinquent
0      Warren Buffet    Good Standing
1       Janet Yellen    Good Standing
2    Abigail Johnson    Good Standing
3         Larry Fink       Delinquent
4       Mario Draghi       Delinquent
5  Michael Bloomberg       Delinquent
6          Ray Dalio    Good Standing

### Concat dues and member data using `columns` axis and `inner` join

In [8]:
# remove duplicates in dues and members dataframes to ensure unique entries
dues_df.drop_duplicates(inplace=True)
members_df.drop_duplicates(inplace=True)
# combine the dataframes
combined_df = pd.concat([dues_df,members_df],axis="columns",join="inner")
combined_df

          MemberName  DuesOwed  DuesPaid         MemberName MembershipStatus
0      Warren Buffet         0      2500      Warren Buffet    Good Standing
1       Janet Yellen       100      2400       Janet Yellen    Good Standing
2    Abigail Johnson         0      2500    Abigail Johnson    Good Standing
3         Larry Fink      2500         0         Larry Fink       Delinquent
4       Mario Draghi      2500         0       Mario Draghi       Delinquent
5  Michael Bloomberg      2500         0  Michael Bloomberg       Delinquent
6          Ray Dalio         0      2500          Ray Dalio    Good Standing