# Instructor Do: Random Forests

In [2]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Needed for decision tree visualization
import pydotplus
from IPython.display import Image

## Loading and Preprocessing Loans Encoded Data

In [3]:
# Loading data
file_path = Path("../Resources/loans_data_encoded.csv")
df_loans = pd.read_csv(file_path)
df_loans.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,scholarship,no_scholarship
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [4]:
# Define features set
X = df_loans.copy()
X.drop("bad", axis=1, inplace=True)
X.head()

,amount,term,age,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,scholarship,no_scholarship
0,1000,30,45,6,0,1,0,0,0,1
1,1000,30,50,7,1,0,0,0,1,0
2,1000,30,33,8,1,0,0,0,1,0
3,1000,15,27,9,0,0,0,1,0,1
4,1000,30,28,10,0,0,0,1,1,0

In [5]:
# Define target vector
y = df_loans["bad"].ravel()
y[:5]

array([0, 0, 0, 0, 0])

In [6]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [7]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [8]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [9]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Fitting the Random Forest Model

In [10]:
# Create a random forest classifier
model = RandomForestClassifier()

In [11]:
# Fitting the model
model.fit(X_train_scaled, y_train)

RandomForestClassifier()

## Making Predictions Using the Decsion Tree Model

In [12]:
# Making predictions using the testing data
y_pred = model.predict(X_test_scaled)

## Model Evaluation

In [15]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, y_pred)

In [16]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, y_pred))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           53           31
Actual 1           27           14

Accuracy Score : 0.536
Classification Report
              precision    recall  f1-score   support

           0       0.66      0.63      0.65        84
           1       0.31      0.34      0.33        41

    accuracy                           0.54       125
   macro avg       0.49      0.49      0.49       125
weighted avg       0.55      0.54      0.54       125

## Feature Importance

In [17]:
# Random Forests in sklearn will automatically calculate feature importance
feature_imp = model.feature_importances_

In [18]:
# We can sort the features by their importance
sorted(zip(feature_imp, X.columns), reverse=True)[:10]

[(0.43156929225171553, 'age'),
 (0.32410722299243894, 'month_num'),
 (0.08196207776811339, 'term'),
 (0.05561974365650558, 'amount'),
 (0.025233531526422773, 'education_college'),
 (0.02197739611944487, 'education_High School or Below'),
 (0.02116184540289384, 'scholarship'),
 (0.01812238179988309, 'education_Bachelor'),
 (0.017614057359171084, 'no_scholarship'),
 (0.002632451123410985, 'education_Master or Above')]